.about-section,
.features-section {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  background-color: aqua;
}
.about-section .right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-section h1, .about-section h3, .about-section h4,
.features-section h1, .features-section h3, .features-section h4 {
    margin: 10px;
    max-width: 600px;
}

.about-section img,
.features-section img {
  max-width: 100%;
  height: auto;
}

.register {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.register button{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
}

