.event-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .event-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 15px;
    overflow: hidden;
    width: 300px;
  }
  
  .event-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-item h3 {
    margin: 15px;
    color: #333;
  }
  
  .event-item p {
    margin: 0 15px 10px;
    color: black;
  }
  
  .event-item .place {
    font-weight: bold;
  }
  
  .event-item .time {
    font-style: italic;
  }

/*for search box */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#searchInput {
  width: 300px;
  padding: 8px;
  border-radius: 10px solid black;
}

#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#searchResults li {
  padding: 8px;
  cursor: pointer;
}

#searchResults li:hover {
  background-color: #f5f5f5;
}
