<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="static/styles/common.css">
    <link rel="stylesheet" href="static/styles/header.css">
    <link rel="stylesheet" href="static/styles/container.css">
    <link rel="stylesheet" href="static/styles/footer.css">
    <link rel="stylesheet" href="static/styles/event_list.css">
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1>VolunEase</h1>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="landing_page.html">Home</a></li>
          <li><a href="about_us.html">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="event_list.html">Events list</a>
              <a href="create_event.html">Create event</a>
            </div>
          <li class="dropdown">
            <a href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="volunteer_list.html">Volunteers list</a>
              <a href="volunteer_register.html">Register volunteer</a>
            </div>
          <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
              <a href="log_in.html">Log In</a>
              <a href="registration.html">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="event-listing">
    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
  <script src="static/styles/js/script.js"></script>

</body>
</html>
