header {
	display: flex;
	flex-direction: row;
	background-color: #2ecc71;
	height: 70px;
	width: 100%;
	color: white;
	border-bottom: 1px solid #CCCCCC;
}

#header_logo {
	height: 100%;
	width: 142px;
	background-image: url("../images/VE.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 10px;
}
header h1 {
	margin-top: 20px;
	color: black;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 65%;
}

.links a {
	margin: auto 5px auto 5px;
}