<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="../static/styles/css/common.css">
    <link rel="stylesheet" href="../static/styles/css/header.css">
    <link rel="stylesheet" href="../static/styles/css/container.css">
    <link rel="stylesheet" href="../static/styles/css/footer.css">
    <link rel="stylesheet" href="../static/styles/css/volunteer_detail.css">
    <link rel='shortcut icon' href="../static/images/VE.png" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/styles/js/event_detail.js"></script>
    <script src="../static/styles/js/script.js"></script>
    <script src="../static/styles/js/message.js"></script>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1 id="unsigned_dashboard">VolunEase</h1>
        <a id="dashboard" href="{{ url_for('org_dashboard') }}"><h2>VolunEase</h2></a>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="{{ url_for('event_list') }}">Events List</a>
              <a id="event_create" href="{{ url_for('event_create') }}">Create Event</a>
            </div>
          </li>
          <li class="dropdown">
            <a id="volunteers_data" href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="{{ url_for('volun_registeer') }}">Register Volunteer</a>
              <a href="{{ url_for('volun_list') }}">Volunteers List</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div id="signed" class="dropdown-content">
              <a href="{{ url_for('update_org') }}" id="update">Update</a>
              <a href="#" id="logout">Log out</a>
              <a href="#" id="delete">Delete account</a>
            </div>
            <div id="unsigned" class="dropdown-content">
              <a href="{{ url_for('login') }}">Log In</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="Volunter_container">
    <div id="messageBox" class="message-box">
      <p></p>
      <span class="close-button">x</span>
    </div>
    <fieldset class="volunteer-fieldset">
      <legend>Volunteer</legend>

      <fieldset class="volunteer-info-fieldset">
        <legend>Volunteer Information</legend>
        <div class="volunteer-image">
          <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Volunteer Image">
        </div>
        <div class="volunteer-details">
          <p class="full-name"></p>
          <p class="phone-number"></p>
          <p class="email"></p>
          <p class="gender"></p>
          <p class="occupation"></p>
        </div>
      </fieldset>

      <fieldset class="participation-hours-fieldset">
        <legend>All Participation Hours</legend>
        <p class="total-hours"></p>
      </fieldset>

      <fieldset class="event-participation-fieldset">
        <legend>Volunteer Participation in Events</legend>
        <table>
          <thead>
            <tr>
              <th>Volunteer name</th>
              <th>Email</th>
              <th>gender</th>
              <th>Occupation</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody id="volunteer-participate">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </fieldset>
    <div id="myDiv">
      <button class="update-btn">Update</button>
      <button class="delete-btn">Delete</button>
    </div>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
</body>
</html>
