<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="static/styles/common.css">
    <link rel="stylesheet" href="static/styles/header.css">
    <link rel="stylesheet" href="static/styles/container.css">
    <link rel="stylesheet" href="static/styles/footer.css">
    <link rel="stylesheet" href="static/styles/volunteer_detail.css">
    <link rel='shortcut icon' href="../static/images/VE.png" />
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1>VolunEase</h1>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="{{ url_for('event_list') }}">Events List</a>                       
              <a href="{{ url_for('event_create') }}">Create Event</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="{{ url_for('volun_registeer') }}">Register Volunteer</a>
              <a href="{{ url_for('volun_list') }}">Volunteers List</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
              <a href="{{ url_for('login') }}">Log In</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="Volunter_container">
    <fieldset class="volunteer-fieldset">
      <legend>Volunteer</legend>
      
      <fieldset class="volunteer-info-fieldset">
        <legend>Volunteer Information</legend>
        <div class="volunteer-image">
          <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Volunteer Image">
        </div>
        <div class="volunteer-details">
          <p class="full-name">Full Name: John Doe</p>
          <p class="phone-number">Phone Number: +123456789</p>
          <p class="email">Email: john@example.com</p>
          <p class="gender">Gender: Male</p>
          <p class="occupation">Occupation: Software Developer</p>
        </div>
      </fieldset>

      <fieldset class="participation-hours-fieldset">
        <legend>All Participation Hours</legend>
        <p class="total-hours">Total Hours: 150</p>
      </fieldset>

      <fieldset class="event-participation-fieldset">
        <legend>Volunteer Participation in Events</legend>
        <table>
          <thead>
            <tr>
              <th>Event Title</th>
              <th>Place</th>
              <th>Start Hour</th>
              <th>End Hour</th>
              <th>Participation Hour</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Event 1</td>
              <td>Community Center</td>
              <td>12:00 PM</td>
              <td>3:00 PM</td>
              <td>3 hours</td>
            </tr>
            <tr>
              <td>Event 2</td>
              <td>Park</td>
              <td>10:00 AM</td>
              <td>1:00 PM</td>
              <td>3 hours</td>
            </tr>
            <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>

              <tr>
              <td>Event 2</td>
              <td>Park</td>
              <td>10:00 AM</td>
              <td>1:00 PM</td>
              <td>3 hours</td>
            </tr><tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>

              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
              <tr>
                <td>Event 2</td>
                <td>Park</td>
                <td>10:00 AM</td>
                <td>1:00 PM</td>
                <td>3 hours</td>
              </tr>
          </tbody>
        </table>
      </fieldset>
    </fieldset>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
  <script src="static/styles/js/script.js"></script>

</body>
</html>
