<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/container.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel='shortcut icon' href="../static/images/VE.png" />
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1>VolunEase</h1>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li><a href="{{ url_for('event_list') }}">Events</a></li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
              <a href="{{ url_for('login') }}">Log In</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <section class="about-section">
      <div class="left">
        <h1>VolunEase Volunter Managment System</h1>
				<h3>Empowering Volunteers, Streamlining Impact</h3>
				<h4>Are you ready to make a difference? VolunEase is your platform for connecting
					volunteers and organizations seamlessly. We believe in the power of community
					and the impact it can have on the world.</h4>
				<h1 id="join">Join the VolunEase Community</h1>
				<h4>Ready to simplify volunteer management and enhance your impact? Join 
					VolunEase today. Empower your organization, engage your volunteers, and
					 make a difference in the community.</h4>
				<h3>Get started now and be part of something bigger.
					 VolunEase - Where Every Volunteer Matters.</h3>
				<div class="register"><button>Register</button></div>
      </div>
      <div class="right">
        <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="About VolunEase">
      </div>
    </section>

    <section class="features-section">
      <div class="left">
        <h1>Why VolunEase?</h1>
				<h4>
					<ul>
						<li>User-Friendly: We understand the importance of a simple and intuitive 
							user interface. VolunEase provides an easy-to-use platform for both 
							administrators and volunteers, ensuring a smooth experience for everyone.</li>

                        <li>Customizable: Tailor the platform to your organization's unique needs.
							VolunEase is designed to be flexible, allowing you to customize the system to
							fit your specific requirements.</li>

						<li>Accessible: Whether you're a non-profit organization, an event organizer, or a
							volunteer, VolunEase is accessible to all. Join us in creating a community of 
							changemakers.</li>
					</ul>
				</h4>
      </div>
      <div class="right">
        <h1>How VolunEase Works</h1>
				<h4>
					<ul>
						<li><strong>Volunteer List Page</strong>: Easily manage and view the details of your volunteers.
							A simple and efficient way to keep track of your community.</li>

                        <li><strong>Event Details Page</strong>: Dive into the specifics of your events.
							See who's registered, manage details, and ensure your events run smoothly.</li>

						<li><strong>Organization Dashboard</strong>: A comprehensive dashboard that gives you an overview of your organization's activities.
							Manage events, volunteers, and more from one centralized location.
						</li>
					</ul>
				</h4>
      </div>
    </section>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
  <script src="static/styles/js/script.js"></script>

</body>
</html>
