<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="../static/styles/css/common.css">
    <link rel="stylesheet" href="../static/styles/css/header.css">
    <link rel="stylesheet" href="../static/styles/css/container.css">
    <link rel="stylesheet" href="../static/styles/css/footer.css">
    <link rel="stylesheet" href="../static/styles/css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="../static/styles/js/dashboard.js"></script>
    <link rel='shortcut icon' href="../static/images/VE.png" />
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1>VolunEase</h1>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="{{ url_for('event_list') }}">Events List</a>                       
              <a href="{{ url_for('event_create') }}">Create Event</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="{{ url_for('volun_registeer') }}">Register Volunteer</a>
              <a href="{{ url_for('volun_list') }}">Volunteers List</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
              <a href="#" id="logout">Log out</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="dashboard-container">
    <div class="header">
      <div class="organization-info">
        <h1></h1>
      </div>
      <div class="organization-image">
        <img src="static/images/VE.png" alt="Organization Image">
      </div>
    </div>

    <div class="charts-section">
      <div class="chart-container">
        <canvas id="eventsChart"></canvas>
      </div>
      <div class="donut-chart-container">
        <canvas id="volunteersDonutChart"></canvas>
      </div>
    </div>
    <div class="description-section">
      <p></p>
    </div>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
  <script src="../static/styles/js/script.js"></script>

</body>
</html>

