<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="../static/styles/css/common.css">
    <link rel="stylesheet" href="../static/styles/css/header.css">
    <link rel="stylesheet" href="../static/styles/css/container.css">
    <link rel="stylesheet" href="../static/styles/css/footer.css">
    <link rel="stylesheet" href="../static/styles/css/create_event.css">
    <link rel='shortcut icon' href="../static/images/VE.png" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/styles/js/event_creation.js"></script>
    <script src="../static/styles/js/script.js"></script>
    <script src="../static/styles/js/message.js"></script>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1 id="unsigned_dashboard">VolunEase</h1>
        <a id="dashboard" href="{{ url_for('org_dashboard') }}"><h2>VolunEase</h2></a>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="{{ url_for('event_list') }}">Events List</a>
              <a id="event_create" href="{{ url_for('event_create') }}">Create Event</a>
            </div>
          </li>
          <li class="dropdown">
            <a id="volunteers_data" href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="{{ url_for('volun_registeer') }}">Register Volunteer</a>
              <a href="{{ url_for('volun_list') }}">Volunteers List</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div id="signed" class="dropdown-content">
              <a href="{{ url_for('update_org') }}" id="update">Update</a>
              <a href="#" id="logout">Log out</a>
              <a href="#" id="delete">Delete account</a>
            </div>
            <div id="unsigned" class="dropdown-content">
              <a href="{{ url_for('login') }}">Log In</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="event_container">
    <div id="messageBox" class="message-box">
      <p></p>
      <span class="close-button">x</span>
    </div>

    <form class="create-event-form" id="update_event">
      <fieldset class="create-event-fieldset">
        <legend>Update Event</legend>

        <fieldset class="event-info-fieldset">
          <legend>Event Information</legend>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter event title">
          </div>
          <div class="form-group">
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" placeholder="Enter event place">
          </div>
          <div class="form-group">
            <label for="startTime">Starting Time:</label>
            <input type="datetime-local" id="start_time" name="start_time">
          </div>
          <div class="form-group">
            <label for="endTime">End Time:</label>
            <input type="datetime-local" id="end_time" name="end_time">
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Enter event description"></textarea>
          </div>
          <div class="form-group">
            <label for="volunteerId">Volunteer:</label>
            <select id="volunteers" name="volunteers" multiple>

            </select>
          </div>
  </fieldset>

        <button type="submit">Update Event</button>
      </fieldset>
    </form>
  </div>


  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
</body>
</html>
