<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolunEase</title>
    <link rel="stylesheet" href="../static/styles/css/common.css">
    <link rel="stylesheet" href="../static/styles/css/header.css">
    <link rel="stylesheet" href="../static/styles/css/container.css">
    <link rel="stylesheet" href="../static/styles/css/footer.css">
    <link rel="stylesheet" href="../static/styles/css/event_list.css">
    <link rel='shortcut icon' href="../static/images/VE.png" />
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <div class="logo_image"></div>
        <h1>VolunEase</h1>
      </div>
      <div class="menu-icon" id="menuIcon">&#9776;</div>
      <nav id="mainNav">
        <ul>
          <li><a href="{{ url_for('landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('about_us') }}">About Us</a></li>
          <li class="dropdown">
            <a href="#">Events</a>
            <div class="dropdown-content">
              <a href="{{ url_for('event_list') }}">Events List</a>                       
              <a href="{{ url_for('event_create') }}">Create Event</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Volunteers</a>
            <div class="dropdown-content">
              <a href="{{ url_for('volun_registeer') }}">Register Volunteer</a>
              <a href="{{ url_for('volun_list') }}">Volunteers List</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
              <a href="{{ url_for('login') }}">Log In</a>
              <a href="{{ url_for('register') }}">Register</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="event-listing">
    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Male</p>
      <p class="time">email@email.com</p>
    </div>

    <div class="event-item">
      <img src="static/images/portrait-of-volunteers-pointing-at-t-shirt.jpg" alt="Event 1">
      <h3>Full name</h3>
      <p class="place">Female</p>
      <p class="time">email@email.com</p>
    </div>
  </div>

  <footer>
    <p>&copy; All rights reserved.</p>
  </footer>
  <script src="../static/styles/js/script.js"></script>

</body>
</html>
